<div class="container mx-auto mw-100 bg-primary pt-5 pb-5 pl-5 pr-5">
	<div class="row align-items-center justify-content-center">
		<div class="col-2 text-center"><img src="https://via.placeholder.com/72" alt=""><p href="#">Lorem, ipsum dolor.</p>
		</div>
		<div class="col-2 text-center"><img src="https://via.placeholder.com/72" alt=""><p href="#">Lorem, ipsum dolor.</p>
		</div>
		<div class="col-2 text-center"><img src="https://via.placeholder.com/72" alt=""><p href="#">Lorem, ipsum dolor.</p>
		</div>
		<div class="col-2 text-center"><img src="https://via.placeholder.com/72" alt=""><p href="#">Lorem, ipsum dolor.</p>
		</div>
		<div class="col-2 text-center"><img src="https://via.placeholder.com/72" alt=""><p href="#">Lorem, ipsum dolor.</p>
		</div>
		<div class="col-2 text-center"><img src="https://via.placeholder.com/72" alt=""><p href="#">Lorem, ipsum dolor.</p>
		</div>
	</div>
</div>
