{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	{# Jumbotron #}

	<div class="bg-light mt-5">
		<div class="container">
			<div class="jumbotron bg-transparent">
				<h1 class="display-3">Create Your Travel !</h1>
				<p class="lead">Trust us to create your best experience in this wonderfull country full of culture, animals, flower and good people!</p>
				<hr class="my-4">
				<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
				</p>
			</div>
		</div>
	</div>

	{# Activite, location, tours #}

	<div class="mt-n4 container">
		<div class="row">
			<div class="col-4">
				<div class="card text-white bg-dark mx-auto" style="max-width: 100rem;height:450px;">
					<div class="card-body">
						<h4 class="card-title">Dark card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card text-white bg-dark mx-auto" style="max-width: 100rem;height:450px;">
					<div class="card-body">
						<h4 class="card-title">Dark card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card text-white bg-dark mx-auto" style="max-width: 100rem;height:450px;">
					<div class="card-body">
						<h4 class="card-title">Dark card title</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{#time for colombia#}

	<div class="container mt-5">
		<div class="row">
			<div class="col-6 bg-primary"></div>
			<div class="col-6">
				<div>
					<h2>Time for Colombia</h2>
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#About">About us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Why">Why us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#Goal">Our goal</a>
						</li>

					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="About">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
						</div>
						<div class="tab-pane fade" id="Why">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
						</div>
						<div class="tab-pane fade" id="Goal">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
						</div>
					</div>
					<button class="btn btn-primary" type="button">Contact us</button>
					<button class="btn btn-primary" type="button">Read more</button>
				</div>
			</div>
		</div>
	</div>

	{# Tripadvisor #}

	<div class="container mt-5 mb-5">
		<div class="row mx-auto">
			<div class="col">
				<hr>
			</div>
			<div class="col-5 text-center">
				<h1>What people say</h1>
			</div>
			<div class="col">
				<hr>
			</div>
		</div>
	</div>
	<div class="bg-primary" style="height:400px"></div>

	{# Mise en avant #}

	<div class="container mt-5 mb-5">
		<div class="row mx-auto">
			<div class="col">
				<hr>
			</div>
			<div class="col-5 text-center">
				<h1>Mise en avant</h1>
			</div>
			<div class="col">
				<hr></div>
		</div>
	</div>

	<div class="container">
		<div class="row mt-4 mb-4">
			<div class="col-6 bg-primary" style="height:300px;"></div>
			<div class="col-6">
				<div class="container">
					<div class="row mx-auto justify-content-between mt-1">
						<div class="col-2">
							<h4>Minca</h4>
						</div>
						<div class="col-2">
							<p>montagne</p>
						</div>
					</div>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut consequatur praesentium ex eius harum sint quisquam quasi aliquid enim ipsa, alias officiis commodi, fuga modi obcaecati fugit neque assumenda ipsum maxime tempore. Eligendi ducimus aperiam obcaecati nulla ut nisi natus rem eos veritatis inventore, unde fugit incidunt perspiciatis enim nihil.</p>
					<button class="btn btn-primary">Read more</button>
				</div>
			</div>
		</div>

		<div class="row mt-4 mb-4">
			<div class="col-6 bg-primary" style="height:300px;"></div>
			<div class="col-6">
				<div class="container">
					<div class="row mx-auto justify-content-between mt-1">
						<div class="col-2">
							<h4>Minca</h4>
						</div>
						<div class="col-2">
							<p>montagne</p>
						</div>
					</div>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut consequatur praesentium ex eius harum sint quisquam quasi aliquid enim ipsa, alias officiis commodi, fuga modi obcaecati fugit neque assumenda ipsum maxime tempore. Eligendi ducimus aperiam obcaecati nulla ut nisi natus rem eos veritatis inventore, unde fugit incidunt perspiciatis enim nihil.</p>
					<button class="btn btn-primary my-0">Read more</button>
				</div>
			</div>
		</div>
	</div>

	{# Quelques Chiffres #}

	<div class="container mt-5 mb-5">
		<div class="row mx-auto">
			<div class="col">
				<hr>
			</div>
			<div class="col-5 text-center">
				<h1>Quelques chiffres</h1>
			</div>
			<div class="col">
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="container col-6">
				<div class="row mx-auto ">
					<div class="col">
						<h1>79</h1>
					</div>
					<div class="col">
						<p>Trajets effectues</p>
					</div>
					<div class="col"><img alt="" src="https://via.placeholder.com/54"></div>
				</div>
				<div class="row mx-auto ">
					<div class="col">
						<h1>54</h1>
					</div>
					<div class="col">
						<p>Activitees reserve</p>
					</div>
					<div class="col"><img alt="" src="https://via.placeholder.com/54"></div>
				</div>
				<div class="row mx-auto ">
					<div class="col">
						<h1>146</h1>
					</div>
					<div class="col">
						<p>2 roues louees</p>
					</div>
					<div class="col"><img alt="" src="https://lorempixel.com/54/54/?58156"></div>
				</div>
			</div>
			<div class="container col-6">
				<div class="row mx-auto justify-content-between ">
					<div class="col-4"><img alt="" src="https://via.placeholder.com/54"></div>
					<div class="col-4">
						<h1>158</h1>
					</div>
					<div class="col-4">
						<p>Arbres plantes</p>
					</div>
				</div>
				<div class="row mx-auto ">
					<div class="col"><img alt="" src="https://via.placeholder.com/54"></div>
					<div class="col">
						<h1>347 kg</h1>
					</div>
					<div class="col">
						<p>Plastique recycle</p>
					</div>
				</div>
				<div class="row mx-auto ">
					<div class="col"><img alt="" src="https://via.placeholder.com/54"></div>
					<div class="col">
						<h1>176 kg</h1>
					</div>
					<div class="col">
						<p>Nourriture donne</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Gallery/Carousel #}

	<div class="container mt-5 mb-5">
		<div class="row mx-auto">
			<div class="col">
				<hr>
			</div>
			<div class="col-5 text-center">
				<h1>Gallery</h1>
			</div>
			<div class="col">
				<hr>
			</div>
		</div>
	</div>
	<div class="container-fluid mt-5 mb-5">
		<div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<div class="row">
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row">
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000"></div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="row">
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000">
							</div>
							<div class="col">
								<img alt="..." class="d-block w-100" src="https://via.placeholder.com/1000"></div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
				<span aria-hidden="true" class="carousel-control-prev-icon"/>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
				<span aria-hidden="true" class="carousel-control-next-icon"/>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
{% endblock %}
